<%- include("./header.ejs") %>
<h1><%= listTitle %></h1>
<form action="/search" method="POST">
  <input name="bookTitle" placeholder="Title" />
  <input name="bookAuthor" placeholder="Author" />
  <input type="hidden" name="index" value="<% 0 %>" />
  <button type="submit" class="genButton">Search</button>
</form>

<div class="book-grid">
  <% for(let i=0; i < listItems.length; i++) { %>
      <div>
        <form action="/deleteBook" method="POST">
        <input type="hidden" name="coverUrl" value="<%= listItems[i].cover_link %>">
        <input type="hidden" name="title" value="<%= listItems[i].title %>">
        <input type="hidden" name="author" value="<%= listItems[i].author  %>">
        <button type="submit" class="genButton">Delete</button>
        </form>

        <img class="coverImg" src="<%= listItems[i].cover_url %>" />
        <p class="author">Author: <%= listItems[i].author %></p>
      </div>
  <% } %>
</div>

<form action="/login" method="POST">
  <button type="submit" class="genButton">Sign Out</button>
</form>

<%- include("./footer.ejs") %>